.droppable
{ 
  background: #08c; 
  color: #fff; 
  padding: 100px 0; 
  text-align: center; 
}

.droppable.dragover { background: #00CC71; }

.file_list
{
  border: 2px solid black;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  white-space: pre;
}

#submit
{
  text-align: center;
  margin-left: 47%;
}